footer {
  margin-top: 20px;
}

.footer__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;

}

.footer__rodape p {
  justify-content: center;
  line-height: 19px;
  color: var(--link-color);
}

  /* Tablets */
  @media (max-width: 768px) { 
    
  }

  /*Mobile*/
@media (max-width: 425px) {
  
}