section.menu {
  background-color:  var(--cards-colors);
  display: flex;
  justify-content: center;
  padding: 1em;
}

.menu__container {
  max-width: calc(75rem);
  width: 100%;
  padding: 1em 0;
}

.menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__title {
  display: flex;
  gap: 0.5em;
  align-items: center;
  font-weight: 700;
}

.menu__list {
  display: flex;
  gap: 2em;
  font-weight: 500;
}

.menu__list li:last-child {
  font-weight: 700;
}

.menu__list__item {
  gap: 1em;
}

.menu__button-mobile {
  display: none;
}

.menu__list--active {
  display: flex !important;
  flex-direction: column;
  position: absolute;
  top: 90px;
  right: 20px;
  background-color: var(--cards-colors);
  box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.1);
  padding: 1em;
  gap: 1em;
  border-radius: 10px;
}

/* Tablets */
@media (max-width: 768px) {
  section.menu {
    max-width: calc(43em);
  }
  .menu__list {
    display: none;
  }
  .menu__button-mobile {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .menu__button-mobile--icon {
    width: 24px;
  }
}
/*Mobile*/
@media (max-width: 425px) {
  section.menu {
    max-width: calc(22em);
  }
}
