section.title {
  display: flex;
  justify-content: space-evenly;
}

/* Profile animation */

prof

.title__profile__container {
  perspective: 900px;
  overflow: hidden;
}

.tittle__profile {
  position: relative;
  width: 368px;
  height: 368px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.tittle__profile:hover {
  transform: rotateY(180deg);
}

.title__profile--front,
.title__profile--back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0px 8px 8px 8px rgba(61, 59, 59, 0.1);
  border-radius: 50%;
  
}

.title__profile--front {
  transform: rotateY(0deg);
}

.title__profile--back {
  transform: rotateY(180deg);
  background-color: #4c2dd4;
  color: var(--branco);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.title__profile--back span {
  font-size: 24px;
  font-weight: bold;
}


/* Profile Animation End*/

.title__container {
  display: flex;
  max-width: calc(75rem);
  width: 100%;
  flex-direction: row-reverse;
  align-items: center;
  padding: 4em 0;
  gap: 1em;
}

.title__profile--img {
  height: 368px;
  width: 368px;
  border-radius: 50%;

}

.title__div {
  padding: 1em 0%;
}

.title__bio {
  font-size: 3rem;
  margin-bottom: 0.5em;
  font-weight: bold;
  padding-bottom: 1rem;
}

.title__subsection {
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 25px;
  padding-bottom: 1rem;
}

.title__network {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  gap: 1.5em;
  padding-top: 1em;
  margin: 1em;
}

.title__network__item {
  display: flex;
  justify-content: space-between;
}



/* Medium screens */
@media (min-width: 769px) and (max-width: 980px) {
  .title__div {
    padding: 0 1rem;
  }
}

/* Tablets */
@media (max-width: 768px) {
  section.title {
    max-width: calc(43em);

  }

  .title__container {
    gap: 1rem;
  }

  .tittle__profile {
    height: 146px;
    width: 146px;
  }

  .title__profile--img {
    height: 156px;
    width: 156px;
    border-radius: 50%;
  }

  .profile__back--img {
    height: 156px;
    width: 156px;
    border-radius: 50%;
    float: left;

  }

  .title__div {
    padding: 0 1rem;
  }

  .title__bio {
    font-size: 22px;
  }

  .title__subsection {
    font-size: 16px;
    margin-bottom: 0;
  }

  .title__network {
    gap: 2em;
  }

  .title__profile--back span {
    font-size: 14px;

  }
}

/*Mobile*/
@media (max-width: 425px) {
  section.title {
    max-width: calc(22em);
  }

  .title__container {
    flex-direction: column;
    align-items: baseline;
    padding: 1em 0;
  }

  .title__div {
    width: 100%;
    padding: 0 1rem;
  }

  .title__network {
    gap: 1em;
    row-gap: 1em;
  }

}